<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Changer le mot de passe{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/main.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/font-awesome/4.7.0/css/font-awesome.min.css') }}"/>
    {% endblock %}
</head>
<body>
<section class="material-half-bg">
    <div class="cover"></div>
</section>
<section class="lockscreen-content">
    <div class="logo">
        <h1>My CRM</h1>
    </div>
    <div class="lock-box">
        <h4 class="text-center user-name">Mot de passe oublié!</h4>
        <form class="unlock-form" method="post">
            <div class="form-group">
                <label class="control-label">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <input type="hidden" name="token" value="{{ token }}">
            </div>
            <div class="form-group btn-container">
                <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-sign-in fa-lg fa-fw"></i>Envoyer </button>
            </div>
        </form>
    </div>
</section>
{% block javascripts %}
    <script src="{{ asset('dist/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('dist/js/popper.min.js') }}"></script>
    <script src="{{ asset('dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('dist/js/main.js') }}"></script>
    <script src="{{ asset('dist/js/plugins/pace.min.js') }}"></script>
{% endblock %}
</body>
</html>