<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user">
        <div>
            <p class="app-sidebar__user-name">{{ app.user.nom }}</p>
            <p class="app-sidebar__user-designation">
                {% for role in app.user.roles %}
                    {{ role | trans({},"forms") }}<br>
                {% endfor %}
            </p>
        </div>
    </div>
    <ul class="app-menu">
        <li>
            <a class="app-menu__item active" href="{{ path('home') }}"><i class="app-menu__icon fa fa-home"></i>
                <span class="app-menu__label">Accueil</span>
            </a>
        </li>

        <li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-users"></i>
                <span class="app-menu__label">Utilisateurs</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a class="treeview-item" href="{{ path("user_index") }}"><i class="icon fa fa-list"></i> Utilisateurs</a>
                </li>
                <li>
                    <a class="treeview-item" href="{{ path("user_new") }}"><i class="icon fa fa-user-plus"></i> Nouveau utilisateur</a>
                </li>
            </ul>
        </li>

        <li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-users"></i>
                <span class="app-menu__label">Prospects</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
        <ul class="treeview-menu">
            <li>
                <a class="treeview-item" href="{{ path("prospect_index") }}"><i class="icon fa fa-list"></i>Liste des prospects</a>
            </li>
            <li>
                <a class="treeview-item" href="{{ path("prospect_new") }}"><i class="icon fa fa-user-plus"></i> Nouveau prospect</a>
            </li>
        </ul>
        </li>
        <li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-phone"></i>
                <span class="app-menu__label">Appels</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a class="treeview-item" href="{{ path("calls_index") }}"><i class="icon fa fa-phone"></i>Liste des appels</a>
                </li>
                <li>
                    <a class="treeview-item" href="{{ path("calls_index") }}"><i class="icon fa fa-plus"></i>Nouveau appel</a>
                </li>
            </ul>
        <li>
            <a class="app-menu__item" href="#"><i class="app-menu__icon fa fa-cogs"></i>
                <span class="app-menu__label">Settings</span>
            </a>
        </li>
    </ul>

    </ul>
</aside>