    <table class="table table-striped bordergray">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>MeetingDate</th>
                <td>{{ appointment.meetingDate ? appointment.meetingDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>MeetingTime</th>
                <td>{{ appointment.meetingTime ? appointment.meetingTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>MeetingPlace</th>
                <td>{{ appointment.meetingPlace }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ appointment.createdAt ? appointment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ appointment.updatedAt ? appointment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
