
<div class="col-sm-3"> {{ form_row(form.firstname) }}</div>
<div class="col-sm-3"> {{ form_row(form.lastname) }}</div>
<div class="col-sm-3"> {{ form_row(form.email) }}</div>
<div class="col-sm-3"> {{ form_row(form.adress) }}</div>
<div class="col-sm-3"> {{ form_row(form.sex) }}</div>
<div class="col-sm-3"> {{ form_row(form.telbureau) }}</div>
<div class="col-sm-3"> {{ form_row(form.telmobile1) }}</div>
<div class="col-sm-3"> {{ form_row(form.telmobile2) }}</div>