
    <table class="table table-striped bordergray">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ call.id }}</td>
            </tr>
            <tr>
                <th>Date et heure d'appel</th>
                <td>{{ call.date ? call.date|date('d-m-Y') : '' }} {{ call.callTime ? call.callTime|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Date et heure du prochain appel</th>
                <td>{{  call.nextCallDate ? call.nextCallDate|date('d-m-Y') : '' }} {{call.nextCallTime ? call.nextCallTime|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Prospect</th>
                <td>{{ call.prospect.name }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ call.prospect.tel }}</td>
            </tr>
            {% if call.contact.firstname is defined %}
            <tr>
                <th>Contact Prospect</th>
                <td>{{ call.contact.firstname }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Durée d'appel</th>
                <td>{{ call.duration }}
            </tr>
            <tr>
                <th>Type d'appel</th>
                <td>{% if call.callType == 1 %}
                        Entrant
                    {% else %}
                        Sortant
                    {% endif %}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ call.subject }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ call.comments }}</td>
            </tr>

        </tbody>

    </table>

